<h1 appTestDirective [textColor]="'red'" [backgroundColor]="'green'">Directive:</h1>

<p appTestDirective>
  cái hay của Directive là nó có thể apply cho tất cả các HTMLElement
  <br />
  tính năng của nó tương tự Component: add @input/@output, #varaible
  <br />
  nó ko có HTML, CSS, Routing riêng giống như Component
</p>

<button (click)="variable1.highlight('pink')">#variable Directive from Template</button>
<br />
<button (click)="highlight('green')">#variable directive from TypeScript</button>

<p appTestDirective #variable1="testDirective">
  #variable Directive dùng rất nhiều trong Angular Material => tuyệt
</p>

<h1 appTitleDirective #variable2="titleDirective">test appTitleDirective</h1>
<button (click)="variable2.highlight('red')">#variable2 Directive from Template</button>
